<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mainapp">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 데이터베이스 읽기,쓰기 접근권한 추가 -->
    <uses-permission android:name="android.permission.CAMERA" /> <!-- 카메라 사용권한 설정 -->
    <!-- 위치정보 api 권한 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- 카카오 api 권한 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.MainApp">
        <activity
            android:name=".ResultDrawView"
            android:exported="false" />
        <!-- android:requestLegacyExternalStorage="true" -->
        <activity android:name=".MainActivity" />
        <activity android:name=".Activity_Haebinggi" />
        <activity android:name=".Activity_Yeoreumcheol" />
        <activity android:name=".Activity_Chuseok" />
        <activity android:name=".Activity_Gyeoulcheol" />
        <activity android:name=".FragmentActivity1" />
        <activity android:name=".FragmentActivity_Haebinggi" />
        <activity android:name=".FragmentActivity_Yeoreumcheol" />
        <activity android:name=".FragmentActivity_Chuseok" />
        <activity android:name=".FragmentActivity_Gyeoulcheol" />
        <activity android:name=".MapMainActivity" />
        <activity android:name=".MapActivity" />
        <activity android:name=".ResultActivity_Haebinggi" />
        <activity android:name=".ResultActivity_Yeoreumcheol" />
        <activity android:name=".ResultActivity_Chuseok" />
        <activity android:name=".ResultActivity_Gyeoulcheol" />
        <activity android:name=".CustomDrawView" />
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.mainapp.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>